<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
         <title>Document</title>
    </head>

    <body>

        <div id="Container">

            <div class="Überschrift-div">
                <img src="assets/Personal-Doctor-Logo.png" alt="Logo" width="200" />
                <h1 class>Mein Arzt</h1>
            </div>
            
            <div class="element-div">
                <p><b>Bitte wählen Sie ihre Symptome</b> </p>
                <mat-form-field>
                
                <mat-label>Symptome</mat-label>
                    <mat-select placeholder="Optionen auswählen" multiple>

                        <mat-option value="one">Fiber</mat-option>
                        <mat-option value="two">Müdigkeit</mat-option>
                        <mat-option value="three">Husten</mat-option>
                        <mat-option value="four">Niesen</mat-option>
                        <mat-option value="five">Gliederschmerzen</mat-option>
                        <mat-option value="six">Schnupfen</mat-option>
                        <mat-option value="seven">Halsschmerzen</mat-option>
                        <mat-option value="eight">Durchfall</mat-option>
                        <mat-option value="nine">Gliederschmerzen</mat-option>
                        <mat-option value="ten">Schnupfen</mat-option>
                        <mat-option value="eleven">Halsschmerzen</mat-option>
                        <mat-option value="twelve">Durchfall</mat-option>
                        <mat-option value="thirteen">Kopfschmerzen</mat-option>
                        <mat-option value="fourteen">Kurzatmigkeit</mat-option>
                        <mat-option value="fifteen">Störungen des Geruchs- und/oder Geschmackssinns</mat-option>
                        <mat-option value="sixteen">Erbrechen</mat-option>
                        <mat-option value="seventeen">Ohrenschmerzen</mat-option>
                        <mat-option value="eightteen">Schwindel</mat-option>
                        <mat-option value="nineteen">Sehstörungen</mat-option>

                    </mat-select>

                </mat-form-field>
            </div>

            <div class="aswerten-div">

                <button mat-raised-button class="button" color="primary">Auswerten</button>
    
            </div>

            <div class="text-div">
                <p><b>Sie haben</b> </p>
                <p><b>Behandlung:</b> </p>
                <p><b>lindernde Lebensmittel:</b> </p>
            </div>

            <div class="Hinweis-div">
                <p> HINWEIS: "Hinter dieser App steckt eine KI.

                Für eine genaue Diagnose kontaktieren Sie bitte ihren Arzt.

                Wir übernehmen keine Haftung!

                </p>
            </div>
        </div>
    </body>
</html>
        


