<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>

    <div id="Container">

        <div class="Überschrift-div">
            <img src="assets/Personal-Doctor-Logo.png" alt="Logo" width="200" />
            <h1 class>Mein Arzt</h1>
        </div>

        <div class="element-div">
            <p><b>Bitte wählen Sie ihre Symptome</b> </p>
            <mat-form-field>

                <mat-label>Symptome</mat-label>
                <mat-select placeholder="Optionen auswählen" multiple [(ngModel)]="selectedSymptoms">

                    <mat-option value="Fieber">Fieber</mat-option>
                    <mat-option value="Husten">Husten</mat-option>
                    <mat-option value="Kurzatmigkeit">Kurzatmigkeit</mat-option>
                    <mat-option value="Durchfall">Durchfall</mat-option>
                    <mat-option value="Gelenkschmerzen">Gelenkschmerzen</mat-option>
                    <mat-option value="Kopfschmerzen">Kopfschmerzen</mat-option>
                    <mat-option value="Hautausschlag">Hautausschlag</mat-option>
                    <mat-option value="Muedigkeit">Muedigkeit</mat-option>
                    <mat-option value="Gewichtsverlust">Gewichtsverlust</mat-option>
                    <mat-option value="Durst und haeufiges Wasserlassen">Durst und häufiges Wasserlassen</mat-option>
                    
                </mat-select>

            </mat-form-field>
        </div>

        <div class="aswerten-div">

            <button mat-raised-button class="button" color="primary" (click)="fetchIllnesses()">Auswerten</button>

        </div>

        <div class="text-div">
            <p><b>Sie haben</b> </p>
            <p><b>Behandlung:</b>  </p>
            <p><b>lindernde Lebensmittel:</b> </p>
        </div>

        <div class="table-div">
            <table>
              <thead>
                <tr>
                  <th>Krankheit</th>
                  <th>Wahrscheinlichkeit</th>
                  <th>Behandlung</th>
                  <th>Lebensmittel</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let result of results ">
                  <td>{{ result.illness }}</td>
                  <td>{{ result.probability | number:'1.2-2' }}%</td>
                  <td>{{ result.treatment }}</td>
                  <td>{{ result.food }}</td>
                </tr>
              </tbody>
            </table>
          </div>


        <div class="Hinweis-div">
            <p> HINWEIS: "Hinter dieser App steckt eine KI.

                Für eine genaue Diagnose kontaktieren Sie bitte ihren Arzt.

                Wir übernehmen keine Haftung!

            </p>
        </div>
    </div>
</body>

</html>