#container{
    margin-left:auto;        
    margin-right:auto;        
    width: 700px;
    background-color:#ffffff;        
    padding:30px;
    border: 3px solid rgb(51, 101, 237);
  
  }
  
  .input-div {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-div {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    border: 30px;
    margin: 10px;
    align-items: center;
  }
  