<div id="container">

    <div class="Überschrift">

        <img src="assets/Personal-Doctor-Logo.png" alt="Logo" width="200" height="200" />



        <br />

        <br />

        <div class="Arzt">

            <button mat-raised-button class="button" color="primary">

                zu meinem Arzt

            </button>

        </div>

        <br />

        <br />

        <div class="BMI">

            <button mat-raised-button class="button" color="primary" routerLink="/BMI-Rechner">

                zum BMI-Rechner

            </button>

        </div>

        <br />

        <br />

        <div class="Nährwerte">

            <button mat-raised-button class="button" color="primary" routerLink="/naehwerte">

                zu den Lebensmittelnährwerten

            </button>

        </div>

        <br />

        <br />

        <div class="Unterhaltung">

            <button mat-raised-button class="button" color="primary">

                zur Unterhaltung

            </button>

        </div>

        <br />

        <br />

        <div class="Kalorienrechner">

            <button mat-raised-button class="button" color="primary" routerLink="/kalorienRechner">

                zum Kalorienrechner

            </button>

        </div>


    </div>

    <br />

    <div class="Hinweis-div">
        <p> HINWEIS: "Hinter dieser App steckt eine KI.

            Für eine genaue Diagnose kontaktieren Sie bitte ihren Arzt.

            Wir übernehmen keine Haftung!

        </p>
    </div>
</div>