
.Überschrift {

    background-color:#ffffff;        
    padding:30px;

    align-items: center;
    text-align: center;
}
.Container{
    height: 1000;
}

.Hinweis-div{
    height: 450;
    border: 3px solid rgb(51, 101, 237);
}