<mat-toolbar color="primary">

  <span class="toolbar-text">Personal doctor</span>

 

    <!-- <div class="home-div"> -->

   <!-- <button class="toolbar-text" mat-raised-button routerLink="/home">Startseite</button> -->

   <!-- </div>

   <div class="naehwerte-div"> -->

   <!-- <button class="toolbar-text" mat-raised-button  routerLink="/naehwerte">Nährwerte</button> -->

  <!-- </div>

   <div class="login-div"> -->

    <button class="toolbar-text" mat-raised-button routerLink="/login">Login</button>

  <!-- </div> -->

 

 

</mat-toolbar>