<mat-toolbar color="primary">
  <span class="toolbar-text">Personal doctor</span>

    <!-- <div class="home-div"> -->
   <button class="toolbar-text" mat-raised-button routerLink="/login">Login</button> 
   <!-- </div>
   <div class="naehwerte-div"> -->
   <!-- <button class="toolbar-text" mat-raised-button  routerLink="/naehwerte">Nähwerte</button>  -->
  <!-- </div>
   <div class="login-div"> -->
    <button class="toolbar-text" mat-raised-button routerLink="/kalorienRechner">Mein Kalorien Rechner</button>
  <!-- </div> -->


</mat-toolbar>