<div class="Überschrift">
    <img src="assets/Personal-Doctor-Logo.png" alt="Logo" width="100" />
    <h1 class>Nährwerte</h1>

</div>

<div class="Eingabe">
    <p> Bitte geben Sie das gewünschte Lebensmittel ein:

    </p>
</div>

<div class="container">

    <div class="Suchfeld">

        <mat-form-field>

            <mat-label>Suchfeld</mat-label>

            <input matInput type="text" name="suchfeld" />

        </mat-form-field>



    </div>

    <div class="Suchfeld">

        <button class="Suche" mat-raised-button color="primary">SUCHE</button>

    </div>


</div>

<div class="Hinweis100g">
    <p> HINWEIS: Die ausgegebenen Werte beziehen sich auf 100g!

    </p>
</div>



<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="nahrungID">
    <th mat-header-cell *matHeaderCellDef> Nahrungs ID</th>
    <td mat-cell *matCellDef="let row"> {{ row.nahrungID }} </td>
  </ng-container>

  <ng-container matColumnDef="essen">
    <th mat-header-cell *matHeaderCellDef> Essen </th>
    <td mat-cell *matCellDef="let row"> {{ row.essen }} </td>
  </ng-container>

  <ng-container matColumnDef="brennwert">
    <th mat-header-cell *matHeaderCellDef> Brennwert </th>
    <td mat-cell *matCellDef="let row"> {{ row.brennwert }} </td>
  </ng-container>

  <ng-container matColumnDef="proteingehalt">
    <th mat-header-cell *matHeaderCellDef> Proteingehalt </th>
    <td mat-cell *matCellDef="let row"> {{ row.proteingehalt }} </td>
  </ng-container>

  <ng-container matColumnDef="kohlenhydrate">
    <th mat-header-cell *matHeaderCellDef> Kohlenhydrate </th>
    <td mat-cell *matCellDef="let row"> {{ row.kohlenhydrate }} </td>
  </ng-container>

  <ng-container matColumnDef="zucker">
    <th mat-header-cell *matHeaderCellDef> Zucker </th>
    <td mat-cell *matCellDef="let row"> {{ row.zucker }} </td>
  </ng-container>

  <ng-container matColumnDef="fett">
    <th mat-header-cell *matHeaderCellDef> Fett </th>
    <td mat-cell *matCellDef="let row"> {{ row.fett }} </td>
  </ng-container>

  
 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<div class="Hinweis">
    <p> HINWEIS: "Hinter dieser App steckt eine KI.

        Für eine genaue Diagnose kontaktieren Sie bitte ihren Arzt.

        Wir übernehmen keine Haftung!

    </p>
</div>