<div class="Überschrift">
    <img src="assets/Personal-Doctor-Logo.png" alt="Logo" width="100" />
    <h1 class>Nährwerte</h1>

  </div>

<div class="Eingabe">
    <p> Bitte geben Sie das gewünschte Lebensmittel ein: 

    </p>
</div>





<div class="Hinweis100g">
    <p> HINWEIS: Die ausgegebenen Werte beziehen sich auf 100g! 

    </p>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="Hinweis">
    <p> HINWEIS: "Hinter dieser App steckt eine KI.

        Für eine genaue Diagnose kontaktieren Sie bitte ihren Arzt.

        Wir übernehmen keine Haftung!

    </p>
</div>