<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div id="container">

    <div class="Überschrift">
      <img src="assets/Personal-Doctor-Logo.png" alt="Logo" width="200" />
      <!-- <h1 class>REGISTRIERUNG</h1> -->

    </div>

    <form #registrationForm="ngForm" (ngSubmit)="registerUser()">

    <div class="FirstName">

      <mat-form-field>

        <mat-label>First Name</mat-label>

        <input matInput type="text" name="firstname" [(ngModel)]="createUser.firstname" required />

      </mat-form-field>

    </div>

    <div class="LastName">

      <mat-form-field>

        <mat-label>Last Name</mat-label>

        <input matInput type="text" name="lastname" [(ngModel)]="createUser.lastname" required />

      </mat-form-field>

    </div>




    <div class="E-Mail">

      <mat-form-field>

        <mat-label>E-Mail</mat-label>

        <input matInput type="email" id="email" pattern=".+@globex\.com" name="email" [(ngModel)]="createUser.email" required />

      </mat-form-field>

    </div>



    <div class="E-Mail-bestätigen">

      <mat-form-field>

        <mat-label>E-Mail bestätigen</mat-label>

        <input matInput type="email" id="email" pattern=".+@globex\.com" name="emailVerification" [(ngModel)]="createUser.confirmEmail" required />

      </mat-form-field>

    </div>

    <div class="Passwort">

      <mat-form-field>

        <mat-label>Passwort</mat-label>

        <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="createUser.password" required/>

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide" >

          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>

        </button>

      </mat-form-field>

    </div>



    <div class="Passwort-bestätigen">

      <mat-form-field>

        <mat-label>Passwort bestätigen</mat-label>

        <input matInput [type]="hide ? 'password' : 'text'" name="passwordConfirmation" [(ngModel)]="createUser.confirmPassword" required/>

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">

          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>

        </button>

      </mat-form-field>

    </div>



    <!-- <div class="Login">

      <button mat-raised-button class="button" color="primary" routerLink="/login">LOGIN</button>

    </div> -->

    <br />



    <div class="Registrieren">

      <button mat-raised-button class="button" color="primary" type="submit" routerLink="/login">

        REGISTRIEREN

      </button>

    </div>
    </form>

  </div>
</body>

</html>