<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div id="container">

    <div class="Überschrift">
      <img src="assets/Personal-Doctor-Logo.png" alt="Logo" width="200" />
      <!-- <h1 class>REGISTRIERUNG</h1> -->

    </div>

    <div class="FirstName">

      <mat-form-field>

        <mat-label>First Name</mat-label>

        <input matInput type="firstname" required />

      </mat-form-field>

    </div>

    <div class="LastName">

      <mat-form-field>

        <mat-label>Last Name</mat-label>

        <input matInput type="lastname" required />

      </mat-form-field>

    </div>




    <div class="E-Mail">

      <mat-form-field>

        <mat-label>E-Mail</mat-label>

        <input matInput type="email" id="email" pattern=".+@globex\.com" required />

      </mat-form-field>

    </div>



    <div class="E-Mail-bestätigen">

      <mat-form-field>

        <mat-label>E-Mail bestätigen</mat-label>

        <input matInput type="email" id="email" pattern=".+@globex\.com" required />

      </mat-form-field>

    </div>

    <div class="Passwort">

      <mat-form-field>

        <mat-label>Passwort</mat-label>

        <input matInput [type]="hide ? 'password' : 'text'" />

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">

          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>

        </button>

      </mat-form-field>

    </div>



    <div class="Passwort-bestätigen">

      <mat-form-field>

        <mat-label>Passwort bestätigen</mat-label>

        <input matInput [type]="hide ? 'password' : 'text'" />

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">

          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>

        </button>

      </mat-form-field>

    </div>



    <!-- <div class="Login">

      <button mat-raised-button class="button" color="primary" routerLink="/login">LOGIN</button>

    </div> -->

    <br />



    <div class="Registrieren">

      <button mat-raised-button class="button" color="primary">

        REGISTRIEREN

      </button>

    </div>

  </div>
</body>

</html>