/*.input-div {
    margin: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    border: 30px;
    margin: 20px;
    align-items: center;
  }*/
  #container{

    margin-left:auto;        
    margin-right:auto;  
    width:500px;        
    background-color:#ffffff;        
    padding:5px;
  
    /* border: 3px solid rgb(51, 101, 237); */
  
  }
  
  .Überschrift{
    display: block;
    margin: 5%;
    padding:5px;

    align-items: center;
    text-align: center;
  
    /* border: 1px solid black; */
  
  }
  
   
  .FirstName{

    float: left;
    width: 50%;
    display: block;
    text-align: center;
  
    /* border: 1px solid black; */
  
  }
  
  
  .LastName{
  
    float: left;
    width: 30%;
    display: block;
    text-align: center;
  
    /* border: 1px solid black; */
  
  }
  
   
  
  .E-Mail{
  
    float: left;
    width: 50%;
    display: block;
    text-align: center;
  
    /* border: 1px solid black; */
  
  }
  
  
  .E-Mail-bestätigen{
  
    float: left;
    width: 30%;
    display: block;
    text-align: center;
  
    /* border: 1px solid black; */
  
  }
  
  
  .Passwort{
  
    display: block;
    text-align: center;
  
    /* border: 1px solid black; */
  
  }
  
   
  .Passwort-bestätigen{
  
    display: block;
    text-align: center;
  
   
    /* border: 1px solid black; */
  
   
  }
  
  
  .Login{
  
      display: block;
      text-align: center;
      color: rgba(68, 114, 196, 1); 

      /* border: 1px solid black; */
  
  }
  
   
  
  .Registrieren{
  
    display: block;
    text-align: center;
    color: rgba(68, 114, 196, 1); 
  
    /* border: 1px solid black; */
  
  }

  .button{

    background-color: rgba(68, 114, 196, 1); 
  }

  .error-message{

    display: block;
    text-align: center;
   
  
  }